.card{
  width:300px;
  height: 150px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.login {
  display: block;
  justify-content: center;
  text-align: center;
}

.form {
  width:350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

input {
  width: 250px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.about-us {
  width: 500px;
  margin: auto;
}

#submit-btn {
  width: 120px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color:mediumslateblue;
  color: whitesmoke;
  font-weight: bold;
}

.header {
  background-color: darkslategrey;
  color: white;
  padding: 5px 25px;
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  padding: 5px;
  background-color:darkblue;
  color: white;
}
